@using CustomerManagement.Application.Features.DTOs
@model CustomerDTO

@{
    ViewData["Title"] = "Customer Details";
}
<h2>Customer Details</h2>

<div>
    <h4>First Name: @Model.FirstName</h4>
    <h4>Last Name: @Model.LastName</h4>
    <h4>Date of Birth: @Model.DateOfBirth.ToShortDateString()</h4>
    <h4>Phone Number: @Model.PhoneNumber</h4>
    <h4>Email: @Model.Email</h4>
    <h4>Bank Account Number: @Model.BankAccountNumber</h4>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
