@using CustomerManagement.Application.Features.Queries.GetCustomers
@model GetCustomersQueryResponse

@{
    ViewData["Title"] = "Customers";
}


<h2>Customers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (!Model.Success)
{
    <p>An error occurred while retrieving customers.</p>
}
else
{
    @if (Model.Pagination.Items.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Date of Birth</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Bank Account Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Pagination.Items)
                {
                    <tr id="@customer.Id">
                        <td>@customer.FirstName @customer.LastName</td>
                        <td>@customer.DateOfBirth.ToShortDateString()</td>
                        <td>@customer.PhoneNumber</td>
                        <td>@customer.Email</td>
                        <td>@customer.BankAccountNumber</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@customer.Id" style="cursor:pointer">Edit</a> |
                            <a asp-action="Details" asp-route-id="@customer.Id" style="cursor:pointer">Details</a> |
                            <a class="delete-customer" data-customer-id="@customer.Id" style="cursor:pointer">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>There is no data to display.</p>
    }



    @section scripts {



    <script>

        $(document).ready(function () {
            $('.delete-customer').click(function (e) {
                e.preventDefault();

                var customerId = $(this).data('customer-id');

                if (confirm('Are you sure you want to delete this customer?')) {
                    $.ajax({
                        url: '/Customer/Delete/' + customerId,
                        type: 'Post',
                        success: function (result) {
                            alert('The deletion was successful.');
                            window.location.reload();
                        },
                        error: function (xhr, status, error) {
                            console.error('An error occurred during the deletion process: ' + error);
                        }
                    });

                }
            });
        });

    </script>

    }

}